#Adafruit-Pure
#Adafruit-PlatformDetect
#adafruit-circuitpython-framebuf
#adafruit-circuitpython-epd
#adafruit-circuitpython-busdevice
adafruit-circuitpython-bme280
#Adafruit-Blinka
mysql
ipython
